PORT=9456
BASE_URL=BASE_URL=http://171.244.201.165:9456
BASE_URL_QRCODE=http://192.168.1.100:5173

JWT_SECRET=Gkw5WaMIwrPP2q2oqhSYvFaU5n5TGyt7
JWT_EXPIRES_IN=1h

# Database
DB_HOST=localhost
DB_PORT=3309
DB_NAME=main_server
DB_USERNAME=root
DB_PASSWORD=password
DB_DIALECT=mysql

# Redis
MICROSERVICE_REDIS_HOST=http://localhost:9789

# Zalo
ZALO_ZNS_TEMPLATE_ID=524969
ZALO_APP_ID=51865970514479064
ZALO_SECRET_KEY=V2FQ87FgNU0O1jDSHGEg 
ZALO_AUTHORIZATION_CODE=Vr26Sj6BoN8F1UPgaBovL0uOtM-KcezpJnQiRy_2urfYABLWZDUqIXrX-Lp7-Q1cMK-BKR72ftL1AlzpriAZGpbTjMcU-_XTNsIaRiBbgYGHPOLMuOZGK7jWZsd5lALmM5tz9ENAf4LvT_zG_gc2855Hn0Youz5Y1Z2fPfIUz75YPF4Sgh3jG6b4edIOhEDn3L6iOihOWN9D8Dfnkgtt0cPw-NhWega7L5Np0SschpGrCVrNnglTB3GctKRp-9OkTI7cLPpPoWX0QyXkj-NbSJv5ocQrxVK4VpViGZo_zrVS5PXICWl_PTwDq7PDFOXnqu7aHbylZccujPOzT2qK2xdR-s51Qk9A_SpzsoDXaTYkYxgWRdI5veluj8e3SF70yu31kmL0-w-UoSM9PYptWCUNI7UxXkb7
ZALO_CALLBACK_URL=http://localhost:3000